# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Unity-inDev_2_ethh.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Loki\Documents\GitHub\Unity-inDev_2_ethh\.idea\.idea.Unity-inDev_2_ethh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
